
page-home {
    .list {
        margin: auto;
        margin-top: 3em;
        width: 85%;
        
    }
    button.item {
        outline: 1px black solid 
    }
    div.toolbar-background {
        background-color: white;
    }
    ion-header {
        border: 1px black solid;
    }
    #add-task {
        margin: auto;
        margin-top: 1.5em;
        width: 85%;
    
    }
}
