page-new-task {
    div.toolbar-background {
        background-color: map-get($colors , primary ) ;
    }
    div.toolbar-title {
        color: #ffffff;
    }

    textarea {
        border: 1px solid black;
        height: 5em;
    }
    #description-label {
        display: block;
        padding: 1em;
    }
    #description-textarea{
        width: 95%;
        margin-left: 0px;
        height: 10em;
    }
}
