<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  >
    <ion-title text-center >Task #{{id}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding overflow-scroll = "true">

  <label id='description-label' ><strong>Description</strong></label>

  <p id='description-div'>
    {{description}}
  </p>

  <span id="due-date-span"><strong>Due Date</strong></span> <span>{{dueDate}}</span>

  <span id='assigned-to-span'><strong>Assigned to</strong></span> <span>{{email}}</span>

  <hr>

  <h5>HISTORY</h5>

  <button (click)="handleHistoryButtonClick()" id='load-previous-button' ion-button full color='light'>Load Previous</button>
  <div  class='note-div' *ngFor="let note of notes" >
    <div *ngIf="!note.img_url">
      <span id='time-ago-span'>{{note.created_time_ago}}</span>
      <div>{{note.content}}</div>
    </div>

    <div *ngIf="note.img_url" >
      <img src="http://localhost:8000{{note.img_url}}" />
    </div>

  </div>

  <textarea id='note' [(ngModel)]='content' rows='3'></textarea>

  <button id='add-note-button' (click)='postNote()'   ion-button full color='light'>Add Note </button>

  <!-- <img [src]="imageURL" *ngIf="imageURL" /> -->

  <button id='picture-button' (click)="takePhoto()"  ion-button >
      <ion-icon name='md-camera'></ion-icon>
  </button>

  </ion-content>
